In [1]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd
import seaborn as sns

In [2]:
data = pd.read_csv('datasets(in).csv')

In [3]:
df = pd.DataFrame(data)

In [4]:
df.head

<bound method NDFrame.head of            datasetName                                            about  \
0   Microbiome Project                American Gut (Microbiome Project)
1                GloBI               Global Biotic Interactions (GloBI)
2       Global Climate                   Global Climate Data Since 1929
3      CommonCraw 2012              3.5B Web Pages from CommonCraw 2012
4    Indiana Webclicks  53.5B Web clicks of 100K users in Indiana Univ.
..                 ...                                              ...
56      ClueWeb12 FACC                                   ClueWeb12 FACC
57       Google Ngrams                      Google Books Ngrams (2.2TB)
58          EDRM Enron      EDRM Enron EMail of 151 users, hosted on S3
59             GetGlue                  GetGlue - users rating TV shows
60      Twitter RepLab    Twitter Data for Online Reputation Management

                                                 link       categoryName  \
0             https://github.com/biocore/American-Gut            Biology
1   https://github.com/jhpoelen/eol-globi-data/wik...            Biology
2                      http://en.tutiempo.net/climate    Climate/Weather
3   http://www.bigdatanews.com/profiles/blogs/big-...  Computer Networks
4   http://cnets.indiana.edu/groups/nan/webtraffic...  Computer Networks
..                                                ...                ...
56           http://lemurproject.org/clueweb12/FACC1/   Natural Language
57  https://aws.amazon.com/datasets/google-books-n...   Natural Language
58  https://aws.amazon.com/datasets/enron-email-data/    Social Networks
59  http://getglue-data.s3.amazonaws.com/getglue_s...    Social Networks
60                     http://nlp.uned.es/replab2013/    Social Networks

     cloud  vintage
0   GitHub      NaN
1   GitHub      NaN
2      NaN   1929.0
3      NaN   2012.0
4      NaN      NaN
..     ...      ...
56     NaN   2012.0
57  Amazon      NaN
58  Amazon      NaN
59     NaN      NaN
60     NaN   2013.0

[61 rows x 6 columns]>

In [5]:
df.tail(6)

,datasetName,about,link,categoryName,cloud,vintage
55,ClueWeb09 FACC,ClueWeb09 FACC,http://lemurproject.org/clueweb09/FACC1/,Natural Language,NaN,2009.0
56,ClueWeb12 FACC,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN,2012.0
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN
58,EDRM Enron,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon,NaN
59,GetGlue,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN,NaN
60,Twitter RepLab,Twitter Data for Online Reputation Management,http://nlp.uned.es/replab2013/,Social Networks,NaN,2013.0

In [7]:
df.shape

(61, 6)

In [8]:
df.dtypes

datasetName      object
about            object
link             object
categoryName     object
cloud            object
vintage         float64
dtype: object

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datasetName   61 non-null     object
 1   about         61 non-null     object
 2   link          61 non-null     object
 3   categoryName  61 non-null     object
 4   cloud         24 non-null     object
 5   vintage       31 non-null     float64
dtypes: float64(1), object(5)
memory usage: 3.0+ KB

In [17]:
df = df.drop(columns=['datasetName'], axis=1)

In [18]:
df.head()

,about,link,categoryName,cloud,vintage
0,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

In [19]:
df.describe()

           vintage
count    31.000000
mean   2000.677419
std      24.436840
min    1920.000000
25%    2006.500000
50%    2009.000000
75%    2012.000000
max    2016.000000

## Renaming the columns

In [24]:
## Renaming the vintage column to year
df = df.rename(columns={'vintage':'year'})

In [25]:
df.head()

,about,link,categoryName,cloud,year
0,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

In [26]:
df.shape

(61, 5)

## Dropping the duplicate rows

In [28]:
##checking for duplicate values
duplicate_rows = df[df.duplicated()]
print("Number of duplicate rows: ", duplicate_rows.shape)

Number of duplicate rows:  (0, 5)

In [ ]:
## checking for null values
print(df.isnull().sum())

about            0
link             0
categoryName     0
cloud           37
year            30
dtype: int64

In [ ]:
## removing null values - drop not available
df = df.dropna()

In [34]:
df

,about,link,categoryName,cloud,year
32,FBI Hate Crime 2013 - aggregated data,https://github.com/emorisse/FBI-Hate-Crime-Sta...,Social Sciences,GitHub,2013.0
41,NYC Uber trip data April 2014 to September 2014,https://github.com/fivethirtyeight/uber-tlc-fo...,Transportation,GitHub,2014.0

In [35]:
df.count()

about           2
link            2
categoryName    2
cloud           2
year            2
dtype: int64